@page "/register"

<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <EditForm Model="@model">
            <DataAnnotationsValidator />
            <div class="form-group">
                <label>Username</label>
                <InputText @bind-Value="model.Username" class="form-control" />
                <ValidationMessage For="@(() => model.Username)" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <InputText @bind-Value="model.Username" class="form-control" />
                <ValidationMessage For="@(() => model.Email)" />
            </div>
            <div class="form-group">
                <label>Password</label>
                <InputText @bind-Value="model.Password" type="password" class="form-control" />
                <ValidationMessage For="@(() => model.Password)" />
            </div>
            <div class="form-group">
                <label>Re-Enter Password</label>
                <input type="password" class="form-control" />
            </div>
            <button disabled="@loading" class="btn btn-primary">
                @if (loading)
                {
                    <span class="spinner-border spinner-border-sm mr-1"></span>
                }
                Register
            </button>
            <NavLink href="login" class="btn btn-link">Login</NavLink>
        </EditForm>
    </div>
</div>


@code {
    RegisterUser model = new RegisterUser();
    private bool loading = false;

    public class RegisterUser
    {
        [Required]
        public string Username { get; set; }


        [Required]
        public string Email { get; set; }

        [Required]
        public string Password { get; set; }
    }

}