@inject IAccountChangesDTO model

<EditForm Model="@model">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>
            Confirm Current Password:
            <InputText type="password" @bind-Value="model.CurrentPassword" class="form-control" />
            <ValidationMessage For="@(() => model.CurrentPassword)" />
        </label>
    </div>

    <div class="form-group">
        <label>
            Enter New Password:

            <InputText type="password" @bind-Value="model.NewPassword" class="form-control" />
            <ValidationMessage For="@(() => model.NewPassword)" />

        </label>
    </div>

    <div class="form-group">
        <label>
            Confirm New Password:

            <InputText type="password" @bind-Value="model.ConfirmNewPassword" class="form-control" />
            <ValidationMessage For="@(() => model.ConfirmNewPassword)" />

        </label>
    </div>

    <CascadingValue Name="loading" Value="@loading">
        <LoadingButton>Submit</LoadingButton>
    </CascadingValue>

</EditForm>

@code {
    private bool loading = false;
}
