@inject IAccountChangesDTO Model
@inject ILazor Lazor

<EditForm Model="@Model">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>
            Confirm Current Password:
            <InputText type="password" @bind-Value="Model.CurrentPassword" class="form-control" />
            <ValidationMessage For="@(() => Model.CurrentPassword)" />
        </label>
    </div>

    <div class="form-group">
        <label>
            Enter New Password:

            <InputText type="password" @bind-Value="Model.NewPassword" class="form-control" />
            <ValidationMessage For="@(() => Model.NewPassword)" />

        </label>
    </div>

    <div class="form-group">
        <label>
            Confirm New Password:

            <InputText type="password" @bind-Value="Model.ConfirmNewPassword" class="form-control" />
            <ValidationMessage For="@(() => Model.ConfirmNewPassword)" />

        </label>
    </div>

    <CascadingValue Name="loading" Value="@Lazor.Loading">
        <LoadingButton>Submit</LoadingButton>
    </CascadingValue>

</EditForm>

@code {

}
