@inject IAccountChangesDTO Model
@inject ILazor Lazor

<EditForm Model="@Model">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>
            Confirm Current Email:
            <InputText type="email" @bind-Value="Model.CurrentEmail" class="form-control" />
            <ValidationMessage For="@(() => Model.CurrentEmail)" />
        </label>
    </div>

    <div class="form-group">
        <label>
            Enter New Email:

            <InputText type="email" @bind-Value="Model.NewEmail" class="form-control" />
            <ValidationMessage For="@(() => Model.NewEmail)" />

        </label>
    </div>

    <div class="form-group">
        <label>
            Confirm New Email:

            <InputText type="email" @bind-Value="Model.ConfirmNewEmail" class="form-control" />
            <ValidationMessage For="@(() => Model.ConfirmNewEmail)" />

        </label>
    </div>

    <CascadingValue Name="loading" Value="@Lazor.Loading">
        <LoadingButton>Submit</LoadingButton>
    </CascadingValue>

</EditForm>

@code {

}
