@inject HttpClient Http
@inject ILazor e
@inject IRecipeUrlDTO model
@inject IRecipeDTO recipeDTO

<div class="card">
    <h4 class="card-header">Add a Recipe</h4>
    <div class="card-body">
        <EditForm Model="@model" OnSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <InputText @bind-Value="model.URL" class="form-control" DisplayName="Recipe URL" />
            <ValidationMessage For="@(() => model.URL)" />
            <span class="small form-text text-danger">@e.ErrorMessage</span>

            <CascadingValue Name="Loading" Value="@e.Loading">
                <LoadingButton>Add</LoadingButton>
            </CascadingValue>

        </EditForm>
    </div>

    <CascadingValue Name="LazorObject" Value="@e">
        <CascadingValue Name="RecipeDTO" Value="@recipeDTO">
            <AddRecipeModal />
        </CascadingValue>
    </CascadingValue>
</div>
@code {

    public async Task<IRecipeDTO> HandleSubmit()
    {
        e.Loading = true;
        e.ErrorMessage = null;

        bool urlIsValid = e.isStringPropertyValid(model, "URL", model.URL);

        if (urlIsValid)
        {
            recipeDTO = await model.PostRecipeUrl(Http, model, recipeDTO);
            e.Toggle();
        }
        e.Loading = !e.Loading;
        return recipeDTO;
    }

    }
