@inject ICreateRecipeEvent Event

<div class="card">

    <h4 class="card-header">
        Add a Recipe
    </h4>

    <div class="card-body">
        <EditForm Model="@Event.RecipeUrlDTO" OnSubmit=@(()=>Event.HandleSubmit())>
            <DataAnnotationsValidator />

            <InputText @bind-Value="@Event.RecipeUrlDTO.URL" class="form-control" DisplayName="Recipe URL" />
            <ValidationMessage For="@(() => @Event.RecipeUrlDTO.URL)" />

            <CascadingValue Name="Loading" Value="@Event.Lazor.Loading">
                <LoadingButton>Create Recipe</LoadingButton>
            </CascadingValue>

        </EditForm>
    </div>

    <CascadingValue Name="RecipeUrlDTO" Value="@Event.RecipeUrlDTO">
        <CascadingValue Name="LazorObject" Value="@Event.Lazor">
            <CascadingValue Name="RecipeDTO" Value="@Event.RecipeDTO">
                <EditRecipeModal HandleClick=@(()=>Event.ResetView()) />
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>

</div>
@code {

}
