@inject IEditRecipeEvent Event
@inject RecipeTypes RecipeTypes

<div class="@Lazor.ToggleTarget">
    <div class="l-modal">
        <div class="edit-recipe__container">
            <div class="edit-recipe__card">
                <div class="edit-recipe-card__header">
                    <h4>Check your Recipe!</h4>
                    <button type="button" @onclick="HandleClick">&times</button>
                </div>
                <div class="edit-recipe-card__body">
                    @{
                        if (Lazor.IsSuccess)
                        {
                            <h4 class="text-center text-success">Success!</h4>
                        }
                        else
                        {
                            <EditForm Model="@RecipeDTO" OnValidSubmit=@(()=>Event.HandleValidSubmit(Lazor,RecipeDTO))>
                                <DataAnnotationsValidator />

                                <div class="edit-recipe__form-header">
                                    <div class="edit-recipe__type">
                                        <label for="RecipeType">Recipe Type: </label>
                                        <div class="edit-recipe__select"> 
                                            <InputSelect @bind-Value="@RecipeDTO.RecipeType">
                                                <option value="default">Choose a type</option>
                                                <option value="@RecipeTypes.GetRecipeType("Breakfast")">Breakfast</option>
                                                <option value="@RecipeTypes.GetRecipeType("Lunch")">Lunch</option>
                                                <option value="@RecipeTypes.GetRecipeType("Dinner")">Dinner</option>
                                                <option value="@RecipeTypes.GetRecipeType("Snack")">Snack</option>
                                                <option value="@RecipeTypes.GetRecipeType("Beverage")">Beverage</option>
                                            </InputSelect><i class="fa fa-chevron-down"></i>
                                        </div>
                                    </div>
                                    <div class="edit-recipe__error">
                                            <ValidationMessage For="@(() => RecipeDTO.RecipeType)" />
                                    </div>
                                    <div class="edit-recipe__title">
                                        <label for="Title">Title:</label>
                                        <InputText @bind-Value="@RecipeDTO.Title" />
                                    </div>
                                    <div class="edit-recipe__error">
                                        <ValidationMessage For="@(() => RecipeDTO.Title)" />
                                    </div>
                                </div>
                                
                                <div class="edit-recipe__form-group">
                                    <div class="edit-recipe__description">
                                        <label for="Description">
                                            Description:
                                        </label>
                                        <InputTextArea @bind-Value="@RecipeDTO.Description" />
                                    </div>
                                </div>

                                <CascadingValue Name="Event" Value="@Event">
                                <CascadingValue Name="Model" Value="@RecipeDTO">
                                    <div class="edit-recipe__form-group">
                                        <IngredientsForm />
                                        <div class="edit-recipe__error">
                                            <ValidationMessage For="@(() => RecipeDTO.Ingredients)" />
                                        </div>
                                    </div>
                                    <div class="edit-recipe__form-group">
                                        <InstructionsForm />
                                        <div class="edit-recipe__error">
                                            <ValidationMessage For="@(() => RecipeDTO.Instructions)" />
                                        </div>
                                    </div>
                                </CascadingValue>
                                </CascadingValue>

                                <span class="edit-recipe__error">@Lazor.ErrorMessage</span>

                                <div class="edit-recipe__controls">
                                    <div class="edit-recipe__submit">
                                        <LoadingButton Loading="@Lazor.Loading">Submit</LoadingButton>
                                    </div>
                                    <div class="edit-recipe__close">
                                        <button type="button" @onclick="HandleClick" class="btn">Close</button>
                                    </div>
                                </div>
                            </EditForm>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>


@code {

    [CascadingParameter(Name = "Lazor")]
    public ILazor Lazor { get; set; }

    [CascadingParameter(Name = "RecipeDTO")]
    public IRecipeDTO RecipeDTO { get; set; }

    [Parameter]
    public Action HandleClick { get; set; }

}

