@inject IEditRecipeEvent Event

<div class="@lazor.ToggleTarget">
    <div class="l-modal">
        <div class="card">
            <h4 class="card-header">
                Modal
                <button type="button" @onclick="HandleClick" class="btn btn-danger float-right">&times;</button>
            </h4>
            <div class="card-body">

                @{
                    if (lazor.isSuccess)
                    {
                        <h4 class="text-center text-success">Success!</h4>
                    }
                    else
                    {
                        <EditForm Model="@recipeDTO" OnValidSubmit=@(()=>Event.HandleValidSubmit(lazor,recipeDTO))>
                            <DataAnnotationsValidator />

                            <div class="form-group">
                                <label for="Title">
                                    Title:
                                    <InputText id="Title" @bind-Value="@recipeDTO.Title" />
                                    <div class="small form-text text-danger">
                                        <ValidationMessage For="@(() => recipeDTO.Title)" />
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="Description">
                                    Description:
                                    <InputTextArea id="Description" @bind-Value="@recipeDTO.Description" />
                                </label>
                            </div>

                            <CascadingValue Name="Model" Value="@recipeDTO">
                                <IngredientsForm />
                                <ValidationMessage For="@(() => recipeDTO.Ingredients)" />
                                <InstructionsForm />
                                <ValidationMessage For="@(() => recipeDTO.Instructions)" />
                            </CascadingValue>

                            <span class="small form-text text-danger">@lazor.ErrorMessage</span>


                            <CascadingValue Name="Loading" Value="@lazor.Loading">
                                <LoadingButton>Submit</LoadingButton>
                            </CascadingValue>
                        </EditForm>
                    }
                }

            </div>
        </div>
    </div>
</div>


@code {

    [CascadingParameter(Name = "lazorObject")]
    public ILazor lazor { get; set; }

    [CascadingParameter(Name = "RecipeDTO")]
    public IRecipeDTO recipeDTO { get; set; }

    [CascadingParameter(Name = "RecipeUrlDTO")]
    public IRecipeUrlDTO recipeURLDTO { get; set; }

    [Parameter]
    public Action HandleClick { get; set; }

    
    }

