@inject IEditRecipeEvent Event
@inject RecipeTypes RecipeTypes

<div class="@Lazor.ToggleTarget">
    <div class="l-modal">
        <div class="card">
            <h4 class="card-header">
                Check your Recipe!
                <button type="button" @onclick="HandleClick" class="btn btn-danger float-right">&times;</button>
            </h4>
            <div class="card-body">

                @{
                    if (Lazor.IsSuccess)
                    {
                        <h4 class="text-center text-success">Success!</h4>
                    }
                    else
                    {
                        <EditForm Model="@RecipeDTO" OnValidSubmit=@(()=>Event.HandleValidSubmit(Lazor,RecipeDTO))>
                            <DataAnnotationsValidator />

                            <div class="form-group">
                                <label for="Title">
                                    Title:
                                    <InputText @bind-Value="@RecipeDTO.Title" />
                                </label>
                                <div class="small form-text text-danger">
                                    <ValidationMessage For="@(() => RecipeDTO.Title)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="RecipeType">
                                    Recipe Type:
                                    <InputSelect @bind-Value="@RecipeDTO.RecipeType">
                                        <option value="default">Choose a type</option>
                                        <option value="@RecipeTypes.GetRecipeType("Breakfast")">Breakfast</option>
                                        <option value="@RecipeTypes.GetRecipeType("Lunch")">Lunch</option>
                                        <option value="@RecipeTypes.GetRecipeType("Dinner")">Dinner</option>
                                        <option value="@RecipeTypes.GetRecipeType("Snack")">Snack</option>
                                        <option value="@RecipeTypes.GetRecipeType("Beverage")">Beverage</option>
                                    </InputSelect>
                                </label>
                                <div class="small form-text text-danger">
                                    <ValidationMessage For="@(() => RecipeDTO.RecipeType)" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="Description">
                                    Description:
                                    <InputTextArea @bind-Value="@RecipeDTO.Description" />
                                </label>
                            </div>

                            <CascadingValue Name="Event" Value="@Event">
                                <CascadingValue Name="Model" Value="@RecipeDTO">
                                    <IngredientsForm />
                                    <div class="small form-text text-danger">
                                        <ValidationMessage For="@(() => RecipeDTO.Ingredients)" />
                                    </div>
                                    <InstructionsForm />
                                    <div class="small form-text text-danger">
                                        <ValidationMessage For="@(() => RecipeDTO.Instructions)" />
                                    </div>
                                </CascadingValue>
                            </CascadingValue>

                            <span class="small form-text text-danger">@Lazor.ErrorMessage</span>


                            <CascadingValue Name="loading" Value="@Lazor.Loading">
                                <LoadingButton>Submit</LoadingButton>
                            </CascadingValue>
                        </EditForm>
                    }
                }

            </div>
        </div>
    </div>
</div>


@code {

    [CascadingParameter(Name = "Lazor")]
    public ILazor Lazor { get; set; }

    [CascadingParameter(Name = "RecipeDTO")]
    public IRecipeDTO RecipeDTO { get; set; }

    [Parameter]
    public Action HandleClick { get; set; }

}

