@inject IEditRecipeEvent Event

<div class="@Lazor.ToggleTarget">
    <div class="l-modal">
        <div class="card">
            <h4 class="card-header">
                Modal
                <button type="button" @onclick="HandleClick" class="btn btn-danger float-right">&times;</button>
            </h4>
            <div class="card-body">

                @{
                    if (Lazor.IsSuccess)
                    {
                        <h4 class="text-center text-success">Success!</h4>
                    }
                    else
                    {
                        <EditForm Model="@RecipeDTO" OnValidSubmit=@(()=>Event.HandleValidSubmit(Lazor,RecipeDTO))>
                            <DataAnnotationsValidator />

                            <div class="form-group">
                                <label for="Title">
                                    Title:
                                    <InputText id="Title" @bind-Value="@RecipeDTO.Title" />
                                    <div class="small form-text text-danger">
                                        <ValidationMessage For="@(() => RecipeDTO.Title)" />
                                    </div>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="Description">
                                    Description:
                                    <InputTextArea id="Description" @bind-Value="@RecipeDTO.Description" />
                                </label>
                            </div>

                            <CascadingValue Name="Model" Value="@RecipeDTO">
                                <IngredientsForm />
                                <ValidationMessage For="@(() => RecipeDTO.Ingredients)" />
                                <InstructionsForm />
                                <ValidationMessage For="@(() => RecipeDTO.Instructions)" />
                            </CascadingValue>

                            <span class="small form-text text-danger">@Lazor.ErrorMessage</span>


                            <CascadingValue Name="Loading" Value="@Lazor.Loading">
                                <LoadingButton>Submit</LoadingButton>
                            </CascadingValue>
                        </EditForm>
                    }
                }

            </div>
        </div>
    </div>
</div>


@code {

    [CascadingParameter(Name = "LazorObject")]
    public ILazor Lazor { get; set; }

    [CascadingParameter(Name = "RecipeDTO")]
    public IRecipeDTO RecipeDTO { get; set; }

    [Parameter]
    public Action HandleClick { get; set; }

    }

