<div class="col">
    <div class="card">
        <h4 class="card-header">Day @GeneratedDay.SequenceNumber</h4>
        <div class="card-body">
            <p class="card-text">@GeneratedDay.Date.Date</p><br />
            <p class="card-text">@GeneratedDay.Breakfast.Title</p><br />
            <p class="card-text">@GeneratedDay.Lunch.Title</p><br />
            <p class="card-text">@GeneratedDay.Dinner.Title</p><br />
        </div>
    </div>
</div>
    @code {
        [CascadingParameter(Name = "GeneratedDay")]
        public IListDayDTO GeneratedDay { get; set; }
    }
