<div class="@e.ToggleTarget">
    <div class="l-modal">
        <div class="card">
            <h4 class="card-header">Modal</h4>
            <div class="card-body">
                <EditForm Model="@model">
                    <div class="form-group">
                        <label for="Title">
                            Title:
                            <InputText id="Title" @bind-Value="@model.Title" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Description">
                            Description:
                            <InputTextArea id="Description" @bind-Value="@model.Description" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Ingredients">
                            Ingredients:
                            <ol>
                                @{
                                    if (model.Ingredients.Any())
                                    {
                                        foreach (string ingredient in model.Ingredients)
                                        {
                                            <li>
                                                <input id="Ingredients" value="@ingredient" />
                                            </li>
                                        }
                                    }
                                    else
                                    {
                                        <p>No ingredients found. Want to add some?</p>
                                    }
                                }
                            </ol>
                            <div class="form-group">
                                <InputText @bind-Value="@NewIngredient" />
                                <button type="button" class="btn btn-dark" @onclick="@addIngredient">Add Ingredient</button>
                            </div>
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Instructions">
                            Instructions:
                            <ol>
                                @{
                                    if (model.Instructions.Any())
                                    {
                                        foreach (string instruction in model.Instructions)
                                        {
                                            <li>
                                                <input id="Instructions" value="@instruction" />
                                            </li>
                                        }
                                    }
                                    else
                                    {
                            <p>No instructions found. Want to add some?</p>
                                    }
                                }
                            </ol>
                            <div class="form-group">
                                <InputText @bind-Value="@NewInstruction" />
                                <button type="button" class="btn btn-dark" @onclick="@addInstruction">Add Instruction</button>
                            </div>
                        </label>
                    </div>
                </EditForm>
            </div>
        </div>
        <CascadingValue Name="loading" Value="@loading">
                <LoadingButton handleClick="@handleClick">Submit</LoadingButton>
         </CascadingValue>
    </div>
</div>


@code {
    public RecipeDTO model = new RecipeDTO();

    private bool loading = false;
    private string NewIngredient { get; set; }

    public void addIngredient()
    {
        model.Ingredients.Add(NewIngredient);
    }

    private string NewInstruction { get; set; }

    public void addInstruction()
    {
        model.Instructions.Add(NewInstruction);
    }

    [CascadingParameter(Name = "LazorObject")]
    public Lazor e { get; set; }

    public void handleClick()
    {
        e.Toggle();
    }

    public class RecipeDTO
    {
        public string Title { get; set; }
        public string Description { get; set; }
        public List<string> Ingredients { get; set; } = new List<string>();
        public List<string> Instructions { get; set; } = new List<string>();
    }

}
