<div class="@e.ToggleTarget">
    <div class="l-modal">
        <div class="card">
            <h4 class="card-header">Modal
                <button type="button" @onclick="e.Toggle" class="btn btn-danger float-right">&times;</button>
            </h4>
            <div class="card-body">
                <p>Recipe found at <span>@model.URL</span></p>
                <EditForm Model="@model">
                    <div class="form-group">
                        <label for="Title">
                            Title:
                            <InputText id="Title" @bind-Value="@model.Title" />
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="Description">
                            Description:
                            <InputTextArea id="Description" @bind-Value="@model.Description" />
                        </label>
                    </div>
                       <IngredientsForm />
                       <InstructionsForm />
                </EditForm>
            </div>
        </div>
        <CascadingValue Name="loading" Value="@loading">
                <LoadingButton handleClick="@handleClick">Submit</LoadingButton>
         </CascadingValue>
    </div>
</div>


@code {

    private bool loading = false;

    [CascadingParameter(Name = "LazorObject")]
    public Lazor e { get; set; }

    [CascadingParameter(Name = "RecipeDTO")]
    public RecipeDTO model { get; set; }

    public void handleClick()
    {
        e.Toggle();
    }

}
